<!DOCTYPE html>
<html lang="es">

<head>
    <title>Catálogo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/estilosCat.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="./public/JS/Catalogo.js"></script>-->
</head>

<body class="body">
    <%- include('templates/header') %>
        <!-- INICIO DE CONTENIDO -->
        <div class="row p-3 w-100 fondoGris ml-0">
            <div class="col-sm-2">
                <!-- <div class="form-floating mb-3">
                    <input type="search" class="w-100 form-control alto" id="floatingInput" placeholder="name@example.com">
                    <label class="font-14 floatingInput">Nombre libro...
                    </label>
                </div> -->
            </div>
            <div class="col-sm-2">
                <!-- <div class="dropdown w-100 alto">
                    <button class="btn dropdown-white dropdown-toggle w-100 alto font-14 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Tipo de transaccion
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Venta</a></li>
                        <li><a class="dropdown-item" href="#">Intercambio</a></li>
                        <li><a class="dropdown-item" href="#">Préstamo</a></li>
                    </ul>
                </div> -->
            </div>
            <div class="col-sm-5"> </div>
            <div class="col-sm-1 text-end">
                <a href="/MiPerfil-Resumen" class="btn">
                    <img src="<%= imagen %>" style="width:40%"> <br>
                    <%= nombre %>
                </a>
            </div>
            <div class="col-sm-1">
                <a href="/carrito" class="btn">
                    <% if (LibrosEnCarrito!=0) { %>
                        <span id="librosencarritoimg">
                            <%= LibrosEnCarrito%>
                        </span>
                        <% }; %>
                            <img id="carritoimg" src="/Images/MiCarrito.png" class="ml-3">
                            <span>Carrito</span>
                </a>
            </div>
            <div class="col-sm-1 text-end">
                <a href="/logout" class="btn">
                    <img src="/Images/botonsalirpeneg.png" style="width:40%"> <br> Salir
                </a>
            </div>
        </div>
        </div>
        <div class="catalogo">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro1.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">

                                <img src="/Images/Calificacion-4.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==1) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==1) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion %>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>

                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro1">
                                                    Detalles del libro
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro2.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-2.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==2) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==2) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>


                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro2">
                                                    Detalles del libro
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro3.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-1.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==3) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==3) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>
                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro3">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro4.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-5.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==4) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>
                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==4) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>
                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro4">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row mb-5">
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro5.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-4.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==5) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==5) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>
                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro5">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro6.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-2.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==6) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>
                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==9) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>

                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro6">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro7.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-1.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==7) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==7) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>
                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro7">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro8.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-2.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==8) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==8) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>

                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro8">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row mb-5">
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro9.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-4.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==9) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>
                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==9) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>
                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro9">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro10.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-2.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==10) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>

                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==10) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>

                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro10">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro11.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-1.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==11) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%><br><br>
                                        </h5>
                                        <% }; %>
                                            <% }); %>
                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==11) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>

                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro11">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card border border-dark" style="width: 14rem;left: 3rem">
                            <img src="/Images/Libro12.png" class="card-img-top p-3 pb-0">
                            <div class="card-body">
                                <img src="/Images/Calificacion-2.png" class="w-100">
                                <% libro.forEach((libro)=> { %>
                                    <% if (libro.ID_Libro==12) { %>
                                        <h5 class="card-title font-18 mt-3">
                                            <%= libro.Nombre%>
                                        </h5>
                                        <% }; %>
                                            <% }); %>
                                                <div class="row mt-3">
                                                    <div class="col-sm-3 border-dark border-bottom border-1 font-13 ml-3 mr-3">
                                                        Tipo:
                                                    </div>
                                                    <% libro.forEach((libro)=> { %>
                                                        <% if (libro.ID_Libro==12) { %>
                                                            <div class="col-sm-6 border border-dark border-1 font-14 text-center">
                                                                <%= libro.Tipo_Transaccion%>
                                                            </div>
                                                            <% }; %>
                                                                <% }); %>

                                                </div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-light w-100 mt-3 btn border border-1" data-bs-toggle="modal" data-bs-target="#Libro12">
                                                    <a>Detalles del libro </a>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <!-- FIN DE CONTENIDO -->
        <%- include('templates/footer') %>
</body>
<!-- Modal 1 -->
<div class="modal fade priori" id="Libro1" tabindex="-1" aria-labelledby="Libro1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form1" action="/carrito/1"></form>
                    <% if (libro.ID_Libro==1) { %>
                        <h5 class="modal-title" id="Libro1Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro1.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-4.png" class="w-100">

                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==1) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==1) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==1) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==1) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>


                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==1) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    </form>
                    <button type="submit" form="form1" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<div class="modal fade priori" id="Libro2" tabindex="-1" aria-labelledby="Libro2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form2" action="/carrito/2"></form>
                    <% if (libro.ID_Libro==2) { %>
                        <h5 class="modal-title" id="Libro2Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro2.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-2.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==2) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==2) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==2) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==2) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==2) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>

                <div class="col-sm-6">
                    <button type="submit" form="form2" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3 -->
<div class="modal fade priori" id="Libro3" tabindex="-1" aria-labelledby="Libro3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form3" action="/carrito/3"></form>
                    <% if (libro.ID_Libro==3) { %>
                        <h5 class="modal-title" id="Libro3Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro3.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-1.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==3) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==3) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==3) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==3) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==3) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form3" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 4 -->
<div class="modal fade priori" id="Libro4" tabindex="-1" aria-labelledby="Libro4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form4" action="/carrito/4"></form>
                    <% if (libro.ID_Libro==4) { %>
                        <h5 class="modal-title" id="Libro4Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro4.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-5.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==4) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==4) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==4) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==4) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==4) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form4" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 5 -->
<div class="modal fade priori" id="Libro5" tabindex="-1" aria-labelledby="Libro5Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form5" action="/carrito/5"></form>
                    <% if (libro.ID_Libro==5) { %>
                        <h5 class="modal-title" id="Libro5Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro5.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-4.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==5) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==5) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==5) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==5) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==5) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form5" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 6 -->
<div class="modal fade priori" id="Libro6" tabindex="-1" aria-labelledby="Libro6Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form6" action="/carrito/6"></form>
                    <% if (libro.ID_Libro==6) { %>
                        <h5 class="modal-title" id="Libro6Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro6.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-2.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==6) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==6) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==6) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==6) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==6) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form6" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 7 -->
<div class="modal fade priori" id="Libro7" tabindex="-1" aria-labelledby="Libro7Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form7" action="/carrito/7"></form>
                    <% if (libro.ID_Libro==7) { %>
                        <h5 class="modal-title" id="Libro7Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro7.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-1.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==7) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==7) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==7) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==7) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==7) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form7" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 8 -->
<div class="modal fade priori" id="Libro8" tabindex="-1" aria-labelledby="Libro8Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form8" action="/carrito/8"></form>
                    <% if (libro.ID_Libro==8) { %>
                        <h5 class="modal-title" id="Libro8Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro8.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-2.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==8) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==8) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==8) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==8) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==8) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form8" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 9 -->
<div class="modal fade priori" id="Libro9" tabindex="-1" aria-labelledby="Libro9Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form9" action="/carrito/9"></form>
                    <% if (libro.ID_Libro==9) { %>
                        <h5 class="modal-title" id="Libro9Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro9.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-4.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==9) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==9) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==9) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==9) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==9) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form9" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 10 -->
<div class="modal fade priori" id="Libro10" tabindex="-1" aria-labelledby="Libro10Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form10" action="/carrito/10"></form>
                    <% if (libro.ID_Libro==10) { %>
                        <h5 class="modal-title" id="Libro10Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro10.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-2.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==10) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==10) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==10) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==10) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==10) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form10" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 11 -->
<div class="modal fade priori" id="Libro11" tabindex="-1" aria-labelledby="Libro11Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form11" action="/carrito/11"></form>
                    <% if (libro.ID_Libro==11) { %>
                        <h5 class="modal-title" id="Libro11Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="/Images/Libro11.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-1.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==11) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==11) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==11) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==11) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==11) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form11" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 12 -->
<div class="modal fade priori" id="Libro12" tabindex="-1" aria-labelledby="Libro12Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <% libro.forEach((libro)=> { %>
                    <form method="POST" id="form12" action="/carrito/12"></form>
                    <% if (libro.ID_Libro==12) { %>
                        <h5 class="modal-title" id="Libro12Label">
                            <%= libro.Nombre%>
                        </h5>
                        <% }; %>
                            <% }); %>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <img src="Images/Libro12.png" class="card-img-top p-3 pb-0">
                    </div>
                    <div class="col-sm-6 mt-5">
                        <p class="text-center mb-5"> Confianza </p>
                        <img src="/Images/Calificacion-2.png" class="w-100">
                        <% libro.forEach((libro)=> { %>
                            <% if (libro.ID_Libro==12) { %>
                                <p class="text-center mt-5"> <strong>
                                        <%= libro.Tipo_Transaccion%>
                                    </strong> </p>
                                <% }; %>
                                    <% }); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        Precio S/.
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==12) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Precio%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Autor
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==12) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Autor%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Imperfecciones
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==12) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Imperfectos%>
                            </div>
                            <% }; %>
                                <% }); %>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 text-end">
                        Categoria
                    </div>
                    <div class="col-sm-2 text-end"> </div>
                    <% libro.forEach((libro)=> { %>
                        <% if (libro.ID_Libro==12) { %>
                            <div class="col-sm-6 border bordered-dark text-center">
                                <%= libro.Categoria%>
                            </div>
                            <% }; %>
                                <% }); %>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="submit" form="form12" class="btn border bordered-dark" data-bs-dismiss="modal">
                        <img src="/Images/MiCarrito.png" style="width:20%"> <br>
                        Agregar al carrito
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

</html>